@import "vars"
@import "fonts"
@import "libs"


body
	font-family: proximanova, sans-serif
	font-size: 16px
	min-width: 320px
	position: relative
	overflow-x: hidden
	width: 100%

	input, textarea
		outline: none

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold


.bg-images
	background-size: cover
	background-position: center
	width: 100%
	height: 100vh
	display: flex
	flex-direction: column
	justify-content: space-between
	align-items: center
	position: relative
//margin-bottom: 85px


.top
	display: flex
	justify-content: space-around
	align-items: center
	width: 100%
	height: 150px

.logo
	display: block
	width: 20%
	img
		width: 100%
	&:hover
		cursor: pointer

.menu__top
	width: 50%
	font-size: $default-px
	font-family: Proximanova, sans-serif
	text-transform: uppercase
	letter-spacing: 3.9px
	ul
		list-style: none
		display: flex
		flex-direction: row
		justify-content: space-around
	a
		text-decoration: none
		color: #fff
		display: block
		padding: 10px
		&:hover
			color: $orange
			cursor: pointer

.middle_news
	text-align: center
	height: 25%
	display: block
	cursor: default
	h1
		color: #fff
		font-size: 60px
		line-height: 70px
		font-weight: 400
		letter-spacing: .6em
	span
		color: $orange
		font-size: 30px
		letter-spacing: .3em

.arrow
	height: 10%
	display: block
	a
		padding: 20px



.center
	padding: 65px 70px


.center-news
	display: grid
	grid-template-columns: 1fr 1fr 1fr
	grid-template-rows: 1fr 1fr 
	grid-gap: 25px
	overflow: hidden
	width: 100%


.center-news-item
	background-position: center
	background-size: cover
	width: 100%
	transition: all .6s ease-out
	overflow: hidden
	box-sizing: border-box
	h3
		color: #fff
		font-weight: 400
		text-transform: uppercase
		letter-spacing: 0.2em
		width: 70%
		position: absolute
		bottom: 10px
		left: 30px
		transition: .3s linear
		&:hover
			color: $orange
			cursor: pointer
	img
		transition: transform 0.5s ease
	&:hover
		img
			transform: scale(1.10)

	
	
.item-img1
	position: relative 
	grid-row: span 2 / auto
	grid-column: span 2 / auto
	width: 100%
	height: 500px
	display: block
	overflow: hidden
	box-sizing: border-box
	img
		position: absolute
		left: 30px
		bottom: 100px
	h3
		font-size: 44px

.item-img2, .item-img3
	height: 237px
	width: 100%
	position: relative
	display: block
	img
		position: absolute
		left: 20px
		bottom: 100px
	h3
		font-size: 32px
		bottom: 5px
		left: 20px
		margin: 0
		line-height: 1
		width: 40%

.item-img3
	img
		left: 20px
		bottom: 90px
	h3
		bottom: 10px

.item-img4, .item-img5, .item-img6
	width: 100%
	height: 600px
	position: relative
	display: block
	background-position: center
	background-size: 100% 100%
	img
		position: absolute
		left: 40px
		bottom: 150px
	h3
		bottom: 20px
		font-size: 40px
		line-height: 1.2
		width: 70%

.item-img5
	h3
		width: 100%

.item-img6
	overflow: hidden
	img
		left: 40px
		bottom: 100px
	h3
		width: 90%

		
.down
	width: 100%
	height: -300px
	&-bgimg
		display: flex
		flex-direction: row
		flex-wrap: wrap
		margin: 0
		padding: 0
		z-index: 2
		width: 100%
		position: relative
		img
			width: 25%
			height: 300px
			background-position: center
		&::before
			content: ""
			position: absolute
			top: 0
			bottom: 0
			left: 0
			right: 0
			background-color: #1a1a1a
			opacity: 0.65
			z-index: 3

.down-text
	z-index: 5
	width: 100%
	height: 100%
	display: inline-block
	&:hover
		cursor: default
	h3
		color: #fff
		font-weight: 400
		text-transform: uppercase
		font-size: 44px
		letter-spacing: 0.5em
		width: 80%
		position: absolute
		top: 240px
		left: 190px
	span
		color: $orange
		font-size: 30px
		letter-spacing: .5em
		position: absolute
		bottom: 260px
		left: 445px	

.foot
	width: 100%
	height: 150px
	display: flex
	flex-direction: row
	justify-content: space-between
	align-items: center
.foot-nav
	width: 60%
	margin-left: 30px
	align-content: center 
	ul
		display: flex
		flex-direction: row
		justify-content: space-between
		align-items: center
		margin-bottom: 0
		li
			list-style: none
			text-transform: uppercase
			letter-spacing: .2em
			a
				color: #1a1a1a
				text-decoration: none
				font-weight: 600
				padding: 5px
				font-size: $default-px
				&:hover
					color: $orange

.socialweb
	width: 25%
	display: flex
	flex-direction: row
	justify-content: center
	img
		width: 30px
		margin-right: 15px
		&:hover
			cursor: pointer


	








@import "media" // Always at the end
